.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  margin-left: 30rem; /* This pushes the content to the right so it's not hidden under the sidebar */
  position: absolute;
  overflow-y: auto; /* Allows the content to scroll */
  font-family: "EB Garamond", serif;
  max-width: 67%;
  /* width: 100%; */
}

.bg-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(135deg, rgba(46, 204, 113, 0.6), rgba(52, 152, 219, 0.6)); */
  z-index: 0; /* Place it behind everything else */
  pointer-events: none; /* Ensures the animation doesn't block interactions */
}

.section {
  /* margin-bottom: 4rem; */
  padding: 3rem 3rem; /* Adjust spacing for each section */
  /* min-height: 100vh; Make each section full-screen */
  /* border-bottom: 1px solid #ddd; */
}

.section-left{
  padding: 3rem 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
